/* This is an example of how to import a partial scss file*/
@import '_variables';

body {
  display: flex;
  flex-direction: row;
  background: $primary-background;
}

// font-family: 'Quintessential', cursive;
// font-family: 'Zhi Mang Xing', cursive;

main {
  display: flex;
  flex-direction: row;
  padding-left: 296px;
}

.home-logo {
  display: flex;
  position: absolute;
  height: 112px;
  width: 287px;
  top: 41px;
}

.hotel-logo {
  height: 89px;
  width: 226px;
  opacity: 26%;
  padding: 31px;
}

.hotel-logo-2 {
  position: absolute;
  height: 44px;
  width: 249px;
  padding: 19px;
  opacity: 55%;
  margin-top: 102px;
}

.home-name {
  font-family: "Quintessential", cursive;
  height: 154px;
  font-size: 49px;
  display: flex;
  text-align: center;
  width: 287px;
  margin: -11px 0px 0px 0px;
  font-weight: bolder;
  color: #F00000;
  position: absolute;
}

.guest-login {
  height: 50px;
  width: 150px;
  position: absolute;
  top: 289px;
  left: 72px;
}

.navigation {
  display: flex;
  height: 100vh;
  width: 20vw;
  background-color: #132F3E;
  border-radius: -9px;
}

.test1,
.test4 {
  height: 300px;
  width: 32vw;
  background-color: #EFA79A;
  opacity: 78%;
}

.test2 {
  height: 485px;
  width: 39vw;
  background-color: #3E604E;
}

.test3 {
  height: 485px;
  width: 25vw;
  background-color: #FFE9BD;
  opacity: 78%;
}

.divc {
  display: flex;
  flex-direction: row;
}
