/* This is an example of how to import a partial scss file*/
@import '_variables';

body {
  background: $primary-background;
}

.navigation {
  display: flex;
  height: 100vh;
  width: 20vw;;
  background-color: #132F3E
}

.hotel-logo {
  position: absolute;
  height: 30px;
  width: 100px;
}
